html, body{
	margin: 0;
	padding: 0;
}
.butt{
	height: 2000px;
	width: 1280px;
	position: fixed;
	


}


.img {
	width: 100%;

}

.scr {

	position: absolute;
	left: 50%;
	top: 2%;
	transform: translate(-50%);
	width: 500px;
	height: 2000px;
	background-color: #ffffcc;
	border: 1px solid black;
}

.nor{
	position: absolute;
	width: 300px;
	height: 100px;
	border: 1px solid black;
	left: 50%;
	transform: translate(-50%);
	top: 1%;
}
.not{
	position: absolute;
	width: 300px;
	height: 100px;
	border: 1px solid black;
	left: 50%;
	transform: translate(-50%);
	top: 7%;
}
.noy{
	position: absolute;
	width: 300px;
	height: 100px;
	border: 1px solid black;
	left: 50%;
	transform: translate(-50%);
	top: 13%;
}
.nou{
	position: absolute;
	width: 300px;
	height: 100px;
	border: 1px solid black;
	left: 50%;
	transform: translate(-50%);
	top: 19%;
}
.noi{
	position: absolute;
	width: 300px;
	height: 100px;
	border: 1px solid black;
	left: 50%;
	transform: translate(-50%);
	top: 25%;
}
.noo{
	position: absolute;
	width: 300px;
	height: 100px;
	border: 1px solid black;
	left: 50%;
	transform: translate(-50%);
	top: 31%;
}
.nop{
	position: absolute;
	width: 300px;
	height: 100px;
	border: 1px solid black;
	left: 50%;
	transform: translate(-50%);
	top: 37%;
}
